@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul, li {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*zindex*/
/*linear-gradient*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*clearfix*/
/*changebg*/
/*gridbox*/
/*
*{
    font: normal 14px/20px "Microsoft Yahei";
}*/
/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
/* line 196, ../sass/screen.scss */
select {
  -webkit-box-shadow: 0px 0px 14px #ffffff;
  -moz-box-shadow: 0px 0px 14px #ffffff;
  -ms-box-shadow: 0px 0px 14px #ffffff;
  -o-box-shadow: 0px 0px 14px #ffffff;
  box-shadow: 0px 0px 14px #ffffff;
  border: 0px;
  line-height: 30px;
  height: 30px;
  padding: 0 7px;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 20px;
  cursor: pointer;
  min-width: 80px;
}

/* line 212, ../sass/screen.scss */
input {
  border: 1px solid #3e8ef0;
  background: transparent;
  line-height: 28px;
  height: 28px;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 145px;
}

/* line 222, ../sass/screen.scss */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* line 227, ../sass/screen.scss */
.wrapper_in {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5%;
  line-height: 40px;
  padding: 0 5%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 227, ../sass/screen.scss */
  .wrapper_in {
    padding: 0 3%;
    padding-bottom: 0;
  }
}

/* line 240, ../sass/screen.scss */
body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  overflow-x: hidden;
  background: url(../images/bg_re.png);
  background-repeat: repeat;
}

/* line 247, ../sass/screen.scss */
.title {
  font-size: 48px;
  line-height: 80px;
  text-align: center;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 247, ../sass/screen.scss */
  .title {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 3px;
  }
}

/* line 263, ../sass/screen.scss */
.stitle {
  font-size: 20px;
  line-height: 35px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 263, ../sass/screen.scss */
  .stitle {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    letter-spacing: 0.2vmin;
  }
}

/* line 277, ../sass/screen.scss */
.txt {
  font-size: 18px;
  line-height: 25px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 277, ../sass/screen.scss */
  .txt {
    font-size: 18px;
    line-height: 25px;
  }
}

/* line 289, ../sass/screen.scss */
.rowbox {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}

/* line 292, ../sass/screen.scss */
.img {
  text-align: center;
}
/* line 294, ../sass/screen.scss */
.img img {
  max-width: 100%;
}

/* line 298, ../sass/screen.scss */
section {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
  color: #000;
}

/* line 304, ../sass/screen.scss */
.totop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: #323232;
  color: #000;
  cursor: pointer;
  z-index: 99;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 316, ../sass/screen.scss */
.totop:hover {
  background: #494949;
}

@media screen and (min-width: 768px) {
  /* line 320, ../sass/screen.scss */
  .mb_show {
    display: none !important;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 325, ../sass/screen.scss */
  .pc_show {
    display: none !important;
  }
}

/* line 330, ../sass/screen.scss */
a.scroll {
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
/* line 341, ../sass/screen.scss */
a.scroll span.arrow {
  -webkit-transition: all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -ms-transition: all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 20px;
  left: 50%;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-radius: 4px;
  margin-left: -15px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  -webkit-animation: moveopacitylight 1s infinite linear;
  -moz-animation: moveopacitylight 1s infinite linear;
  -ms-animation: moveopacitylight 1s infinite linear;
  -o-animation: moveopacitylight 1s infinite linear;
  animation: moveopacitylight 1s infinite linear;
}
@-webkit-keyframes moveopacitylight {
  0% {
    top: 10px;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}
@-moz-keyframes moveopacitylight {
  0% {
    top: 10px;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}
@-o-keyframes moveopacitylight {
  0% {
    top: 10px;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}
@keyframes moveopacitylight {
  0% {
    top: 10px;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}
/* line 370, ../sass/screen.scss */
.topbanner {
  background: url(../images/bg.png) top center no-repeat;
  background-size: cover;
  min-height: 1080px;
  background-position-y: -150px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 370, ../sass/screen.scss */
  .topbanner {
    min-height: auto;
    background-position-y: 0px;
  }
}
/* line 379, ../sass/screen.scss */
.topbanner .rowbox {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 384, ../sass/screen.scss */
.topbanner .phone_img {
  margin-top: -10%;
}
/* line 386, ../sass/screen.scss */
.topbanner .phone_img img {
  width: 90%;
}
@media screen and (min-width: 0) and (max-width: 1080px) {
  /* line 384, ../sass/screen.scss */
  .topbanner .phone_img {
    flex-shrink: 2;
    width: 35%;
    margin-left: -3%;
  }
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 384, ../sass/screen.scss */
  .topbanner .phone_img {
    margin-top: 7%;
  }
  /* line 396, ../sass/screen.scss */
  .topbanner .phone_img img {
    width: 100%;
  }
}
/* line 402, ../sass/screen.scss */
.topbanner .content {
  flex-grow: 1;
  text-align: right;
  margin: 0 4% 16% 0;
}
@media screen and (min-width: 0) and (max-width: 1080px) {
  /* line 402, ../sass/screen.scss */
  .topbanner .content {
    width: 65%;
    margin: 0 0 9% 0;
  }
}
/* line 410, ../sass/screen.scss */
.topbanner .content .topbannertitle {
  color: #3a6697;
  font-size: 80px;
  line-height: 120px;
  white-space: nowrap;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 410, ../sass/screen.scss */
  .topbanner .content .topbannertitle {
    font-size: 24px;
    line-height: 42px;
  }
}
/* line 421, ../sass/screen.scss */
.topbanner .content .topbannertitle div {
  margin-bottom: 3%;
}
/* line 424, ../sass/screen.scss */
.topbanner .content .topbannertitle .title_secline {
  font-size: 78px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 424, ../sass/screen.scss */
  .topbanner .content .topbannertitle .title_secline {
    font-size: 24px;
  }
}
/* line 431, ../sass/screen.scss */
.topbanner .content .topbannertitle span {
  color: #fff;
  font-weight: 900;
  letter-spacing: 10px;
  margin: 0 0 0 4%;
}
/* line 437, ../sass/screen.scss */
.topbanner .content .topbannertitle .mark {
  background: rgba(80, 145, 220, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 1% 4%;
  margin: 0 4% 0 0;
  position: relative;
}
/* line 443, ../sass/screen.scss */
.topbanner .content .topbannertitle .mark:before, .topbanner .content .topbannertitle .mark:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  left: 0;
  background: rgba(80, 145, 220, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 452, ../sass/screen.scss */
.topbanner .content .topbannertitle .mark:before {
  top: -12%;
}
/* line 455, ../sass/screen.scss */
.topbanner .content .topbannertitle .mark:after {
  bottom: -12%;
}
/* line 460, ../sass/screen.scss */
.topbanner .content .stitle {
  color: #3a6697;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 460, ../sass/screen.scss */
  .topbanner .content .stitle {
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 469, ../sass/screen.scss */
  .title_out {
    margin-top: 10%;
  }
}
/* line 473, ../sass/screen.scss */
.title_out .title {
  color: #5f7fd7;
  text-shadow: 1px 1px 1px #ffffff;
  white-space: nowrap;
}
/* line 477, ../sass/screen.scss */
.title_out .title span {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #5f7fd7;
  padding: 2px 20px 5px 20px;
  margin: 0 2%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 2px #5f7fd7, 0 0 0 black, 1px 3px 6px #5f7fd7;
  font-weight: 900;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 477, ../sass/screen.scss */
  .title_out .title span {
    padding: 2px 10px 5px 10px;
  }
}
/* line 491, ../sass/screen.scss */
.title_out .stitle {
  margin-top: 45px;
  color: rgba(60, 90, 165, 0.5);
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 491, ../sass/screen.scss */
  .title_out .stitle {
    margin-top: 15px;
  }
}

/* line 501, ../sass/screen.scss */
.convenient .convenient_img img {
  width: 100%;
}
/* line 505, ../sass/screen.scss */
.convenient .runbanner {
  position: relative;
  margin-top: 5%;
}
/* line 508, ../sass/screen.scss */
.convenient .runbanner .iphonebox {
  position: absolute;
  top: -35px;
  z-index: 10;
  width: 100%;
}
/* line 515, ../sass/screen.scss */
.convenient .runbanner .iphoneboxbg {
  z-index: 0;
}
/* line 518, ../sass/screen.scss */
.convenient .runbanner .carousel-3d-slide {
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 20px rgba(50, 60, 105, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(50, 60, 105, 0.5);
  -ms-box-shadow: 0px 0px 20px rgba(50, 60, 105, 0.5);
  -o-box-shadow: 0px 0px 20px rgba(50, 60, 105, 0.5);
  box-shadow: 0px 0px 20px rgba(50, 60, 105, 0.5);
  /*
  &:after{
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      @include css3(transition,all .3s ease);
      //background: rgba(0, 0, 0, .3);
      top:0;
      left: 0;
  }
  */
}
/* line 535, ../sass/screen.scss */
.convenient .runbanner .current {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* line 540, ../sass/screen.scss */
.webhigher {
  background: url(../images/bg2.png) top center no-repeat;
  background-size: cover;
  min-height: 1400px;
  margin-top: -10%;
  overflow: hidden;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 540, ../sass/screen.scss */
  .webhigher {
    min-height: 380px;
  }
}
/* line 551, ../sass/screen.scss */
.webhigher .rowbox .content .title_out {
  text-align: left;
}
/* line 553, ../sass/screen.scss */
.webhigher .rowbox .content .title_out .title {
  text-align: left;
}
/* line 556, ../sass/screen.scss */
.webhigher .rowbox .content .title_out .stitle {
  white-space: nowrap;
  margin-top: 25px;
}
@media screen and (min-width: 0) and (max-width: 1200px) {
  /* line 556, ../sass/screen.scss */
  .webhigher .rowbox .content .title_out .stitle {
    white-space: normal;
    margin-top: 15px;
  }
}
/* line 566, ../sass/screen.scss */
.webhigher .rowbox .webhigherpic {
  margin-top: 25%;
  margin-left: -4%;
}
/* line 569, ../sass/screen.scss */
.webhigher .rowbox .webhigherpic img {
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 574, ../sass/screen.scss */
  .webhigher .rowbox .webhigherpic {
    width: 45%;
    margin-top: 30%;
    margin-left: -15%;
  }
  /* line 578, ../sass/screen.scss */
  .webhigher .rowbox .webhigherpic img {
    width: 180%;
  }
  /* line 582, ../sass/screen.scss */
  .webhigher .rowbox .content {
    width: 55%;
  }
}

/* line 586, ../sass/screen.scss */
.tableanalysis {
  background: url(../images/bg3.png) bottom center no-repeat;
  background-size: cover;
  min-height: 1100px;
  margin-top: -7%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 586, ../sass/screen.scss */
  .tableanalysis {
    margin-top: -20%;
    min-height: 360px;
    background-size: contain;
  }
}
/* line 596, ../sass/screen.scss */
.tableanalysis .rowbox {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 600, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic {
  position: relative;
  top: 200px;
}
/* line 604, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic img {
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 600, ../sass/screen.scss */
  .tableanalysis .rowbox .tablepic {
    width: 40%;
    top: 100px;
    left: -3%;
  }
  /* line 611, ../sass/screen.scss */
  .tableanalysis .rowbox .tablepic img {
    width: 120%;
  }
  /* line 614, ../sass/screen.scss */
  .tableanalysis .rowbox .tablepic .iphone_table_content {
    opacity: 1 !important;
  }
  /* line 616, ../sass/screen.scss */
  .tableanalysis .rowbox .tablepic .iphone_table_content:nth-child(1) {
    -webkit-transform: translatex(10px) translatey(-10px) !important;
    -moz-transform: translatex(10px) translatey(-10px) !important;
    -ms-transform: translatex(10px) translatey(-10px) !important;
    -o-transform: translatex(10px) translatey(-10px) !important;
    transform: translatex(10px) translatey(-10px) !important;
  }
  /* line 617, ../sass/screen.scss */
  .tableanalysis .rowbox .tablepic .iphone_table_content:nth-child(2) {
    -webkit-transform: translatex(20px) translatey(-20px) !important;
    -moz-transform: translatex(20px) translatey(-20px) !important;
    -ms-transform: translatex(20px) translatey(-20px) !important;
    -o-transform: translatex(20px) translatey(-20px) !important;
    transform: translatex(20px) translatey(-20px) !important;
  }
  /* line 618, ../sass/screen.scss */
  .tableanalysis .rowbox .tablepic .iphone_table_content:nth-child(3) {
    -webkit-transform: translatex(30px) translatey(-30px) !important;
    -moz-transform: translatex(30px) translatey(-30px) !important;
    -ms-transform: translatex(30px) translatey(-30px) !important;
    -o-transform: translatex(30px) translatey(-30px) !important;
    transform: translatex(30px) translatey(-30px) !important;
  }
  /* line 619, ../sass/screen.scss */
  .tableanalysis .rowbox .tablepic .iphone_table_content:nth-child(4) {
    -webkit-transform: translatex(40px) translatey(-40px) !important;
    -moz-transform: translatex(40px) translatey(-40px) !important;
    -ms-transform: translatex(40px) translatey(-40px) !important;
    -o-transform: translatex(40px) translatey(-40px) !important;
    transform: translatex(40px) translatey(-40px) !important;
  }
}
/* line 622, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic .iphone_table_content {
  position: absolute;
  z-index: 1;
  top: -15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
/* line 629, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic .iphone_table_content.active {
  opacity: 1;
}
/* line 631, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic .iphone_table_content.active:nth-child(1) {
  -webkit-transform: translatex(40px) translatey(-40px);
  -moz-transform: translatex(40px) translatey(-40px);
  -ms-transform: translatex(40px) translatey(-40px);
  -o-transform: translatex(40px) translatey(-40px);
  transform: translatex(40px) translatey(-40px);
}
/* line 632, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic .iphone_table_content.active:nth-child(2) {
  -webkit-transform: translatex(80px) translatey(-80px);
  -moz-transform: translatex(80px) translatey(-80px);
  -ms-transform: translatex(80px) translatey(-80px);
  -o-transform: translatex(80px) translatey(-80px);
  transform: translatex(80px) translatey(-80px);
}
/* line 633, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic .iphone_table_content.active:nth-child(3) {
  -webkit-transform: translatex(120px) translatey(-120px);
  -moz-transform: translatex(120px) translatey(-120px);
  -ms-transform: translatex(120px) translatey(-120px);
  -o-transform: translatex(120px) translatey(-120px);
  transform: translatex(120px) translatey(-120px);
}
/* line 634, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic .iphone_table_content.active:nth-child(4) {
  -webkit-transform: translatex(160px) translatey(-160px);
  -moz-transform: translatex(160px) translatey(-160px);
  -ms-transform: translatex(160px) translatey(-160px);
  -o-transform: translatex(160px) translatey(-160px);
  transform: translatex(160px) translatey(-160px);
}
/* line 636, ../sass/screen.scss */
.tableanalysis .rowbox .tablepic .iphone_table_bottom {
  position: relative;
  -webkit-filter: drop-shadow(-10px 10px 14px #326ab3);
  -moz-filter: drop-shadow(-10px 10px 14px #326ab3);
  -ms-filter: drop-shadow(-10px 10px 14px #326ab3);
  -o-filter: drop-shadow(-10px 10px 14px #326ab3);
  filter: drop-shadow(-10px 10px 14px #326ab3);
}
/* line 641, ../sass/screen.scss */
.tableanalysis .rowbox .content {
  margin-top: 70px;
  margin-left: 50px;
}
/* line 645, ../sass/screen.scss */
.tableanalysis .rowbox .content .title_out .stitle {
  margin-top: 25px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  /* line 641, ../sass/screen.scss */
  .tableanalysis .rowbox .content {
    width: 60%;
    margin-top: 10%;
    margin-left: 0;
  }
  /* line 655, ../sass/screen.scss */
  .tableanalysis .rowbox .content .title_out .title {
    text-align: right;
  }
  /* line 658, ../sass/screen.scss */
  .tableanalysis .rowbox .content .title_out .stitle {
    text-align: right;
    margin-top: 15px;
  }
}
