/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "reset.scss";
@import "mixin.scss";

//UI definition
//color
$bg_main: #f4f9ff;
$bg_sup: #edf4ff;
$color_main: #3e8ef0;
$color_sup: #0068d6;
$color_add: #54a7ff;
$colortxt_main: #323232;
$colortxt_sup: #666666;
$color_ignore: #9b9a9a;
$color_alert: #f09e3e;
$color_tip: #4a4a4a;
$color_red: #f68622;
$color_green: #26bd7b;

//main-border-radius
//@include css3(border-radius,$radius);
$radius: 5px;

//main-shadow
$shadow: 0px 0px 14px #ffffff;
@mixin shadow($shadow:$shadow){
    @include css3(box-shadow,$shadow);
}


//font
/*
*{
    font: normal 14px/20px "Microsoft Yahei";
}*/
@mixin bigtitle(){
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 5px;
}
@mixin midtitle(){
    font-size: 16px;
    line-height: 25px;
}
@mixin txt(){
    font-size: 14px;
}
@mixin txts(){
    font-size: 12px;
}

//btn style
@mixin btn_style_face($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    color: #fff;
    background: $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 5px;
    @include txt();
    @include css3(border-radius,$radius);
}
@mixin btn_style_line($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    border: 1px solid $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    @include css3(transition,all .2s ease);
    @include css3(border-radius,$radius);
    &:hover{
        background: $color;
        color: #fff;
        i{
            color: #fff;
        }
    }
}

//hover active style
@mixin hover_light(){
    position: relative;
    &:after{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: rgba(255, 255, 255,0);
        @include css3(transition,all .2s ease);
    }
    &:hover{
        //background: #59a4ff!important;
        &:after{
            background: rgba(255, 255, 255,.25);
        }
    }
}


//table style
@mixin table_style(){
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
        width: 100%;
        tr{
            &:first-child{
                @include midtitle();
                background: $color_main!important;
                color: #fff;
            }
            &:nth-child(odd) {
                background-color: rgba(190, 190, 190, 0.2);
            }
            span{
                @include txts();
                font-size: 23px;
            }
            td{
                text-align: center;
                padding: 5px;
            }
        }
    }
}

//boxalign
@mixin boxalign(){
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

//select style
select{
    @include shadow();
    border: 0px;
    line-height: 30px;
    height: 30px;
    padding: 0 7px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    //background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
    padding-right: 20px;
    cursor: pointer;
    min-width: 80px;
}
//input style
input{
    border: 1px solid $color_main;
    background: rgba(0, 0, 0, 0);
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    @include css3(transition,all .2s ease);
    width: 145px;
}

.wrapper{
    width:100%;
    height:auto;
    margin:0 auto;
}
.wrapper_in{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5%;
    line-height: 40px;
    padding: 0 5%;
    @include range-width-in(0,767px){
        padding: 0 3%;
        padding-bottom: 0;
    }
}
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    overflow-x: hidden;
    background: url(../images/bg_re.png);
    background-repeat: repeat;
}
.title{
    font-size: 48px;
    font-size: 5vmin;
    line-height: 80px;
    line-height: 8vmin;
    text-align: center;
    //font-weight: 900;
    @include range-width-in(0,767px){
        font-size: 18px;
        font-size: 5vmin;
        line-height: 35px;
        line-height: 8vmin;
        letter-spacing: 3px;
        letter-spacing: 0.5vmin;
    }
}
.stitle{
    font-size: 24px;
    font-size: 2.5vmin;
    line-height: 35px;
    line-height: 3.5vmin;
    @include range-width-in(0,767px){
        font-size: 14px;
        font-size: 3.5vmin;
        line-height: 18px;
        line-height: 5vmin;
        letter-spacing: 1px;
        letter-spacing: 0.2vmin;
    }
}
.txt{
    font-size: 18px;
    font-size: 2vmin;
    line-height: 25px;
    line-height: 2.5vmin;
    @include range-width-in(0,767px){
        font-size: 18px;
        font-size: 4vmin;
        line-height: 25px;
        line-height: 6.5vmin;
    }
}
.rowbox{
    @include boxalign();
}
.img{
    text-align: center;
    img{
        max-width:100%;
    }
}
section{
    //min-height: 100vh;
    @include boxalign();
    text-align: center;
    color:#000;
}
.totop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #323232;
    color: #000;
    cursor: pointer;
    z-index: 99;
    //@include css3(transition,all .3s ease);
    @include css3(border-radius,50%);
    &:hover{
        background: #494949;
    }
}
.mb_show{
    @include range-width-in(768px){
        display: none!important;
    }
}
.pc_show{
    @include range-width-in(0,767px){
        display: none!important;
    }
}
a.scroll{
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    @include css3(transform, translate(-50%, -50%));
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
    span.arrow{
        @include css3(transition, all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67));
        @include css3(transform, rotate(-45deg));
        position: absolute;
        top: 20px;
        left: 50%;
        border-left: 4px solid #fff;
        border-bottom: 4px solid #fff;
        border-radius: 4px;
        margin-left: -15px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        @include css3(animation,moveopacitylight 1s infinite linear);
        @include keyframes(moveopacitylight) {
            0% {
                top: 10px;
                opacity: 0;
            }
            80% {
                opacity: 1;
            }
            100% {
                top: 30px;
                opacity: 0;
            }
        }
    }
}
.topbanner{
    background: url(../images/bg.png)top center no-repeat;
    background-size: cover;
    //min-height: 1100px;
    .rowbox{
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .phone_img{
        margin-top: 7%;
        @include range-width-in(0,767px){
            flex-shrink: 2;
            width: 40%;
            margin-left: -3%;
        }
        img{
            width: 100%;
        }
    }
    .content{
        flex-grow: 1;
        text-align: right;
        margin: 0 4% 16% 0;
        @include range-width-in(0,767px){
            width: 60%;
            margin: 0 0 9% 0;
        }
        .topbannertitle{
            color:#3a6697;
            font-size: 80px;
            font-size: 8vmin;
            line-height: 120px;
            line-height: 12vmin;
            white-space:nowrap;
            @include range-width-in(0,767px){
                font-size: 24px;
                line-height: 42px;
            }
            div{
                margin-bottom: 3%;
            }
            .title_secline{
                font-size: 78px;
                font-size: 8vmin;
                @include range-width-in(0,767px){
                    font-size: 24px;
                }
            }
            span{
                color:#fff;
                font-weight: 900;
                letter-spacing: 10px;
                margin: 0 0 0 4%;
            }
            .mark{
                background: rgba(80,145,220,.5);
                @include css3(border-radius,2px);
                padding: 1% 4%;
                margin: 0 4% 0 0;
                position: relative;
                &:before,&:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5%;
                    left: 0;
                    background: rgba(80,145,220,.5);
                    @include css3(border-radius,2px);
                }
                &:before{
                    top: -12%;
                }
                &:after{
                    bottom: -12%;
                }
            }
        }
        .stitle{
            color:#3a6697;
            @include range-width-in(0,767px){
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}
.title_out{
    @include range-width-in(0,767px){
        margin-top: 10%;
    }
    .title{
        color: #5f7fd7;
        text-shadow:1px 1px 1px #ffffff;
        white-space:nowrap;
        span{
            color:#fff;
            @include css3(border-radius,2px);
            background: #5f7fd7;
            padding: 2px 20px 5px 20px;
            margin: 0 2%;
            color: rgba(255, 255, 255, 0.9);
            text-shadow: 2px 2px 2px #5f7fd7, 0 0 0 rgb(0, 0, 0), 1px 3px 6px #5f7fd7;
            font-weight: 900;
            @include range-width-in(0,767px){
                padding: 2px 10px 5px 10px;
            }
        }
    }
    .stitle{
        margin-top: 45px;
        color: rgba(60,90,165,.5);
        @include range-width-in(0,767px){
            margin-top: 15px;
        }
    }
}
.convenient{
    .convenient_img{
        img{
            width: 100%;
        }
    }
    .runbanner{
        position: relative;
        margin-top: 5%;
        .iphonebox{
            position: absolute;
            top:-35px;
            z-index: 10;
            width: 100%;
            //display: none;
        }
        .iphoneboxbg{
            z-index: 0;
        }
        .carousel-3d-slide{
            border: none;
            @include css3(transition,all .3s ease);
            @include css3(box-shadow,0px 0px 20px rgba(50,60,105,.50));
            /*
            &:after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                @include css3(transition,all .3s ease);
                //background: rgba(0, 0, 0, .3);
                top:0;
                left: 0;
            }
            */
        }
        .current{
            @include css3(border-radius,30px);
        }
    }
}
.webhigher{
    background: url(../images/bg2.png)top center no-repeat;
    background-size: cover;
    min-height: 1400px;
    margin-top: -10%;
    overflow: hidden;
    @include range-width-in(0,767px){
        min-height: 380px;
    }
    .rowbox{
        .content{
            .title_out{
                text-align: left;
                .title{
                    text-align: left;
                }
                .stitle{ 
                    white-space:nowrap;
                    margin-top: 25px;
                    @include range-width-in(0,1200px){
                        white-space: normal;
                        margin-top: 15px;
                    }
                }
            }
        }
        .webhigherpic{
            margin-top: 25%;
            margin-left: -4%;
            img{
                width: 100%;
            }
        }
        @include range-width-in(0,767px){
            .webhigherpic{
                width: 40%;
                margin-top: 30%;
                margin-left: -15%;
                img{
                    width: 180%;
                }
            }
            .content{width: 60%;}
        }
    }
}
.tableanalysis{
    background: url(../images/bg3.png)bottom center no-repeat;
    background-size: cover;
    min-height: 1100px;
    margin-top: -7%;
    @include range-width-in(0,767px){
        margin-top: -20%;
        min-height: 360px;
        background-size: contain;
    }
    .rowbox{
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        .tablepic{
            position: relative;
            top:200px;
            
            img{
                width: 100%;
            }
            @include range-width-in(0,767px){
                width: 40%;
                top:100px;
                left: -3%;
                img{
                    width: 120%;
                }
                .iphone_table_content{
                    opacity: 1!important;
                    &:nth-child(1){@include css3(transform,translatex(10px) translatey(-10px)!important);}
                    &:nth-child(2){@include css3(transform,translatex(20px) translatey(-20px)!important);}
                    &:nth-child(3){@include css3(transform,translatex(30px) translatey(-30px)!important);}
                    &:nth-child(4){@include css3(transform,translatex(40px) translatey(-40px)!important);}
                }
            }
            .iphone_table_content{
                position: absolute;
                z-index: 1;
                top:-15px;
                @include css3(transition,all .3s ease);
                opacity: 0;
            }
            .iphone_table_content.active{
                opacity: 1;
                &:nth-child(1){@include css3(transform,translatex(40px) translatey(-40px));}
                &:nth-child(2){@include css3(transform,translatex(80px) translatey(-80px));}
                &:nth-child(3){@include css3(transform,translatex(120px) translatey(-120px));}
                &:nth-child(4){@include css3(transform,translatex(160px) translatey(-160px));}
            }
            .iphone_table_bottom{
                position: relative;
                @include css3(filter,drop-shadow(-10px 10px 14px #326ab3));
            }
        }
        .content{
            margin-top:70px;
            margin-left: 50px;
            .title_out{
                .stitle{ 
                    //white-space:nowrap;
                    margin-top: 25px;
                }
            }
            @include range-width-in(0,767px){
                width: 60%;
                margin-top:10%;
                margin-left: 0;
                .title_out{
                    .title{
                        text-align: right;
                    }
                    .stitle{ 
                        text-align: right;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}