/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "reset.scss";
@import "mixin.scss";

//UI definition
//color
$bg_main: #f4f9ff;
$bg_sup: #edf4ff;
$color_main: #3e8ef0;
$color_sup: #0068d6;
$color_add: #54a7ff;
$colortxt_main: #323232;
$colortxt_sup: #666666;
$color_ignore: #9b9a9a;
$color_alert: #f09e3e;
$color_tip: #4a4a4a;
$color_red: #f68622;
$color_green: #26bd7b;

//main-border-radius
//@include css3(border-radius,$radius);
$radius: 5px;

//main-shadow
$shadow: 0px 0px 14px #ffffff;
@mixin shadow($shadow:$shadow){
    @include css3(box-shadow,$shadow);
}


//font
/*
*{
    font: normal 14px/20px "Microsoft Yahei";
}*/
@mixin bigtitle(){
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 5px;
}
@mixin midtitle(){
    font-size: 16px;
    line-height: 25px;
}
@mixin txt(){
    font-size: 14px;
}
@mixin txts(){
    font-size: 12px;
}

//btn style
@mixin btn_style_face($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    color: #fff;
    background: $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 5px;
    @include txt();
    @include css3(border-radius,$radius);
}
@mixin btn_style_line($color ,$width ,$height ,$radius:0){
    width: $width;
    height: $height;
    border: 1px solid $color;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    @include css3(transition,all .2s ease);
    @include css3(border-radius,$radius);
    &:hover{
        background: $color;
        color: #fff;
        i{
            color: #fff;
        }
    }
}

//hover active style
@mixin hover_light(){
    position: relative;
    &:after{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: rgba(255, 255, 255,0);
        @include css3(transition,all .2s ease);
    }
    &:hover{
        //background: #59a4ff!important;
        &:after{
            background: rgba(255, 255, 255,.25);
        }
    }
}


//table style
@mixin table_style(){
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
        width: 100%;
        tr{
            &:first-child{
                @include midtitle();
                background: $color_main!important;
                color: #fff;
            }
            &:nth-child(odd) {
                background-color: rgba(190, 190, 190, 0.2);
            }
            span{
                @include txts();
                font-size: 23px;
            }
            td{
                text-align: center;
                padding: 5px;
            }
        }
    }
}

//boxalign
@mixin boxalign(){
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include ellipsistext();
@include linear-gradient($top, $bottom);

.btn_face{
    @include btn_style_face($color_main ,65px ,30px,$radius);
    @include hover_light();
}
.btn_line{
    @include btn_style_line($color_main ,65px ,30px,$radius);
}
.tablebox{
    @include table_style();
}


@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}

*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

//select style
select{
    @include shadow();
    border: 0px;
    line-height: 30px;
    height: 30px;
    padding: 0 7px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    //background: #fff url("../images/select_arrow.png") no-repeat scroll right 5px center;
    padding-right: 20px;
    cursor: pointer;
    min-width: 80px;
}
//input style
input{
    border: 1px solid $color_main;
    background: rgba(0, 0, 0, 0);
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    @include css3(transition,all .2s ease);
    width: 145px;
}

.wrapper{
    width:100%;
    height:auto;
    margin:0 auto;
}
.wrapper_in{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5%;
    line-height: 40px;
    @include range-width-in(0,767px){
        padding: 0 5%;
        padding-bottom: 10%;
    }
}
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    overflow-x: hidden;
}
.title{
    font-size: 48px;
    //font-size: 5vmin;
    line-height: 60px;
    //line-height: 6vmin;
    text-align: center;
    letter-spacing: 10px;
    //letter-spacing: 1vmin;
    font-weight: 900;
    @include range-width-in(0,767px){
        font-size: 24px;
        //font-size: 6.5vmin;
        line-height: 50px;
        //line-height: 12vmin;
        letter-spacing: 3px;
        //letter-spacing: 0.5vmin;
    }
}
.stitle{
    font-size: 20px;
    //font-size: 2vmin;
    line-height: 25px;
    //line-height: 2.5vmin;
    letter-spacing: 5px;
    //letter-spacing: 0.5vmin;
    @include range-width-in(0,767px){
        font-size: 14px;
        //font-size: 3.8vmin;
        line-height: 30px;
        //line-height: 8vmin;
        letter-spacing: 1px;
        //letter-spacing: 0.2vmin;
    }
}
.txt{
    font-size: 24px;
    //font-size: 2.4vmin;
    line-height: 25px;
    //line-height: 2.5vmin;
    @include range-width-in(0,767px){
        font-size: 18px;
        //font-size: 4vmin;
        line-height: 25px;
        //line-height: 6.5vmin;
    }
}
.rowbox{
    @include boxalign();
}
.img{
    text-align: center;
    img{
        max-width:100%;
    }
}
section{
    //min-height: 100vh;
    @include boxalign();
    text-align: center;
    color:#000;
}
.totop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #323232;
    color: #000;
    cursor: pointer;
    z-index: 99;
    //@include css3(transition,all .3s ease);
    @include css3(border-radius,50%);
    &:hover{
        background: #494949;
    }
}
.mb_show{
    @include range-width-in(768px){
        display: none!important;
    }
}
.pc_show{
    @include range-width-in(0,767px){
        display: none!important;
    }
}
a.scroll{
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    @include css3(transform, translate(-50%, -50%));
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
    span.arrow{
        @include css3(transition, all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67));
        @include css3(transform, rotate(-45deg));
        position: absolute;
        top: 20px;
        left: 50%;
        border-left: 4px solid #fff;
        border-bottom: 4px solid #fff;
        border-radius: 4px;
        margin-left: -15px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        @include css3(animation,moveopacitylight 1s infinite linear);
        @include keyframes(moveopacitylight) {
            0% {
                top: 10px;
                opacity: 0;
            }
            80% {
                opacity: 1;
            }
            100% {
                top: 30px;
                opacity: 0;
            }
        }
    }
}
.topbanner{
    background: url(../images/bg.jpg)top center no-repeat;
    background-size: cover;
    min-height: 830px;
    .wrapper_in{
        padding-bottom: 0;
    }
    @include range-width-in(1920px){
        min-height: 100vh;
    }
    @include range-width-in(0,767px){
        min-height: 280px;
        .wrapper_in{
            padding-bottom: 10%;
        }
    }
    .rowbox{
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .phone_img{
        margin-top: 7%;
        img{
            width: 100%;
        }
    }
    .content{
        .title{
            color:#fff;
            letter-spacing: 15px;
            //letter-spacing: 1.5vmin;
            @include range-width-in(0,767px){
                margin-top: 8%;
                font-size: 18px;
                //font-size: 5vmin;
                line-height: 38px;
                //line-height: 9vmin;
                letter-spacing: 6px;
                //letter-spacing: 1.5vmin;
            }
            .titlelight{
                position: relative;
                margin-top: -20px;
                @include range-width-in(0,767px){
                    margin-top: 0px;
                    margin-bottom: -15px;
                }
                /*
                &:after{
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    background: url(../images/title.png) top center no-repeat;
                    background-size: contain;
                    @include css3(animation,titlelight .1s infinite linear);
                    @include keyframes(titlelight) {
                        0% {
                            opacity: .7;
                        }
                        80% {
                            opacity: 1;
                        }
                        100% {
                            opacity: .7;
                        }
                    }
                }
                */
            }
            img{
                width: 100%;
                @include range-width-in(0,767px){
                    width: 75%;
                }
            }
        }
        .list{
            margin-top: 3%;
            @include range-width-in(0,767px){
                margin-top: 1%;
            }
            li{
                position: relative;
                text-align: left;
                font-size: 30px;
                color:#fff;
                padding: 15px 0 15px 60px;
                margin-left: 20%;
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 23px;
                    width: 30px;
                    height: 30px;
                    @include css3(border-radius,50%);
                    background: linear-gradient( 90deg, transparent, rgba(0,0,0,.4));
                    @include range-width-in(0,767px){
                        width: 10px;height: 10px;
                    }
                    /*
                    background: -moz-linear-gradient(90deg, #fff, #333);  
                    background: -webkit-gradient(linear, left 0, right 0, from(#fff), to(#333));  
                    background: -o-linear-gradient(left, #fff, #333); 
                    */
                }
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 23px;
                    width: 30px;
                    height: 30px;
                    @include css3(border-radius,50%);
                }
                @include range-width-in(0,767px){
                    margin-left: 15%;
                    font-size: 15px;
                    line-height: 20px;
                    padding: 3px 0 3px 50px;
                    &:after,&:before{top: 8px;left: 30px;width: 10px;height: 10px;}
                }
            }
            .bulelist{&:before{background:#64c7ec;}&:after{background: linear-gradient( 90deg, transparent, #4a92cd );}}
            .greenlist{&:before{background:#4bd2a0;}&:after{background: linear-gradient( 90deg, transparent, #18b39f );}}
            .orglist{&:before{background:#ffb128;}&:after{background: linear-gradient( 90deg, transparent, #ff6c48 );}}
            .purplelist{&:before{background:#8b8bcb;}&:after{background: linear-gradient( 90deg, transparent, #6657a7 );}}
        }
    }
}
.newgame{
    .title_out{
        padding-top: 5%;
        .title{
            position: relative;
            color: #fda931;
            &:before{
                content: attr(data-text);
                position: absolute;
                z-index: 10;
                color:#ff6841;
                -webkit-mask:linear-gradient(to left, red, transparent );
                top: 0;
                left: 0;
                text-align: center;
                width: 100%;
            }
        }
        .stitle{
            margin-top:30px; 
            color:#999999;
            @include range-width-in(0,767px){
                margin-top:-8px; 
            }
        }
    }
    .rowbox{
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 8% auto;
        @include range-width-in(0,767px){
            margin-top: 2%;
            margin-bottom: 0;
        }
        li{
            width: 25%;
            cursor: pointer;
            .icon{
                max-width: 200px;
                margin: 0 auto;
                position: relative;
                @include css3(transition,all .3s ease);
                &:after{
                    @include css3(transition,all .3s ease);
                    content: "";
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0;
                }
                &:hover{
                    @include css3(transform,translatey(-10px));
                    @include css3(filter,drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2)));
                    &:after{
                        opacity: 1;
                    }
                }
            }
            .icon_01_hover{&:after{background-image: url(../images/icon_01_hover.png)}}
            .icon_02_hover{&:after{background-image: url(../images/icon_02_hover.png)}}
            .icon_03_hover{&:after{background-image: url(../images/icon_03_hover.png)}}
            .icon_04_hover{&:after{background-image: url(../images/icon_04_hover.png)}}
            img{
                width: 100%;
                margin-bottom: 10px;
                vertical-align: middle;
                @include range-width-in(0,767px){
                    width: 65%;
                }
            }
            .txt{
                color:#333;
                @include range-width-in(0,767px){
                    margin-top: -14px;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        @include range-width-in(0,767px){
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            li{
                width: 46%;
                margin: 2% 2%;
                .icon{
                    &:hover{&:after{opacity: 0!important;}}
                }
            }
        }
    }
}
.skin{
    background: url(../images/bg2.jpg)top center no-repeat;
    background-size: cover;
    min-height: 1130px;
    color:#fff;
    @include range-width-in(1980px){
        min-height: 100vh;
    }
    @include range-width-in(0,767px){
        min-height: 490px;
        background: url(../images/skinbg_mb.png)top center no-repeat;
        background-size: cover;
    }
    .wrapper_in{
        @include range-width-in(0,767px){
        padding-top: 10%;
        padding-bottom: 0;
        }
    }
    .content{
        margin-right: 3%;
    }
    .title{
        color:#fff;
        text-align: right;
        @include range-width-in(0,767px){
            text-align: center;
        }
    }
    .list{
        text-align: right;
        padding:0 30px;
        font-size: 24px;
        margin-top: 10%;
        border-right: #fff solid 10px;
        @include range-width-in(0,767px){
            padding-left: 20px;
            font-size: 18px;
            text-align: left;
            border-right: none;
            margin-top: 0;
        }
        li{
            padding: 15px 0;
            white-space:nowrap;
            @include range-width-in(0,767px){
                padding: 0;
                padding-left: 30px;
                line-height: 35px;
                position: relative;
                &:after{
                    content: "";
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top:calc(50% - 3px);
                    left: 2px;
                    @include css3(transform,rotate(45deg));
                    background: #fff;
                }
                &:before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    border: #fff solid 1px;
                    position: absolute;
                    top:calc(50% - 5px);
                    left: 0px;
                    @include css3(transform,rotate(45deg));
                }
            }
        }
    }
    .rowbox{
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .skinpic{
            position: relative;
            //height: 1080px;
            width: 70%;
            li{
                position: absolute;
                img{max-width: 100%;}
            }
            .skinpicin{
                opacity: 0;
                @include css3(transition,all .3s ease);
            }
            .skinpic_01{top: -200px;left: -18%;}
            .skinpic_02{top: -100px;left: -35%;position: relative;}
            .skinpic_03{top:0;left: -20%;}
            .skinpic_01.active{top:0;left: 20%;opacity: 1;}
            .skinpic_02.active{top:0;left: -15%;position: relative;opacity: 1;}
            .skinpic_03.active{top:0;left: -20%;opacity: 1;}
            @include range-width-in(0,1080px){
                .skinpic_02{left: 0;}
                .skinpic_01{left: 25%;}
            }
        }
        @include range-width-in(0,767px){
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column-reverse;
            width: 100%;
            .content{
                margin-right: 0;
            }
            .skinpic{
                margin-left: 0;
                width: 100%;
                img{width: 100%;}
            }
        }
    }
    .skinline{
        position: absolute;
        bottom: 15%;
        left: -25%;
        img{
            max-width: 100%;
        }
    }
}
.safe{
    min-height: 100vh;
    //margin-bottom: 10%;
    @include range-width-in(0,767px){
        min-height: auto;
    }
    .wrapper_in{
        @include range-width-in(0,767px){
        padding: 0;
        padding-bottom: 5%;
        }
    }
    .title{
        color:#fff;
        text-align: left;
        position: relative;
        color: #fda931;
        @include range-width-in(0,767px){
            text-align: center;
        }
        &:before{
            content: attr(data-text);
            position: absolute;
            z-index: 10;
            color:#ff6841;
            -webkit-mask:linear-gradient(to left, red, transparent );
        }
    }
    .content{
        margin-left: 3%;
    }
    .list{
        text-align: left;
        padding-left: 30px;
        font-size: 24px;
        margin-top: 10%;
        border-left: #fda931 solid 10px;
        @include range-width-in(0,767px){
            padding-left: 20px;
            font-size: 18px;
            text-align: left;
            border-left: none;
            margin-top: 0;
        }
        li{
            padding: 15px 0;
            white-space:nowrap;
            @include range-width-in(0,767px){
                padding: 0;
                padding-left: 30px;
                line-height: 35px;
                position: relative;
                &:after{
                    content: "";
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top:calc(50% - 3px);
                    left: 2px;
                    @include css3(transform,rotate(45deg));
                    background: #000;
                }
                &:before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    border: #000 solid 1px;
                    position: absolute;
                    top:calc(50% - 5px);
                    left: 0px;
                    @include css3(transform,rotate(45deg));
                }
            }
        }
    }
    .rowbox{
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .safepic{
            position: relative;
            .safephone{
                z-index: 1;
                position: relative;
                img{
                    width: 100%;
                    z-index: 1;
                    @include range-width-in(0,767px){
                        width: 80%;
                        
                    }
                }
            }
            .txtpic{
                position: absolute;
                max-width: 25%;
                top:20%;
                left: 30%;
                opacity: 0;
                @include css3(transition,all .3s ease);
                @include css3(transform,rotate(45deg));
                img{
                    width: 100%;
                }
            }
            .txtpic_01.active{top: 20%; left:75%; opacity: 1;@include css3(transform,rotate(0deg));}
            .txtpic_02.active{top: -8%; left: 50%;opacity: 1;@include css3(transform,rotate(0deg));}
            .txtpic_03.active{top: 8%; left: 0%;opacity: 1;@include css3(transform,rotate(0deg));}
            @include range-width-in(0,767px){
                width: 80%;
                margin-top: 5%;
                .txtpic{max-width: 25%;z-index: 10;}
                .txtpic_01{top: 20%; left:75%;opacity: 1;@include css3(transform,rotate(0deg));}
                .txtpic_02{top: -8%; left: 50%;opacity: 1;@include css3(transform,rotate(0deg));}
                .txtpic_03{top: 8%; left: 0%;opacity: 1;@include css3(transform,rotate(0deg));}
            }
        }
        @include range-width-in(0,767px){
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
}